    /*  Imports Google Font */  
    @import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");


    /*  Titolo && body ecc.  */

body{
    font-family: "Roboto", sans-serif;
}
  h1,
  h2,
  h3,
  h4 {
    letter-spacing: 1.5;
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 0.875rem;
  }
  p {
    margin-bottom: 1.25rem;
    color: grey;
  }
  @media screen and (min-width: 800px) {
    h1 {
      font-size: 4rem;
    }
    h2 {
      font-size: 2.5rem;
    }
    h3 {
      font-size: 1.75rem;
    }
    h4 {
      font-size: 1rem;
    }
    body {
      font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
      line-height: 1;
    }
  }

h1{
    margin-top: 32px;
    text-align: center;
    font-weight: 900 bold;
    font-size: 40px;

}
.Title-Line{
    text-align: center;
    position: relative;
    bottom: 0.4rem;
    margin: 0 auto;
    background-color: #F7A440;
    height: 3px;
}
@media (max-width: 576px){
    .Title-Line{
        width: 40%;
    }
}
.Category-Buttons{
    text-align: center;
}
/* Categories buttons */

.Btn, .BtnAggiungi, .BtnElimina{
    display: inline;
    border-radius: 8px;
    border: 2px solid;
    border-color: #C8C2BC;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.2);
    color: grey;
    margin: 32px 12px;
    margin-bottom: 2rem;
    transition: 500ms;
}
.Btn:hover, .BtnAggiungi:hover, .BtnElimina:hover{
  transition: 250ms;
  border-color: #F7A440;
  transform: translate(1px, 10%);
  color: #F7A440;
}
.Btn:focus, .BtnAggiungi:focus, .BtnElimina:focus{
  transition: 500ms;
  transform: translate(1px, 10%);
  background-color: #F7A440;
  border-color: #F7A440;
  color: white;
}


    /*  Sezione Centrale (menù) */

.section-center {
    width: 90vw;
    display: grid;
    max-width: 900px;    
    justify-items: center;
    margin: 16px;
  }
  @media (max-width: 794px) {
      .section-center{
        display: grid;
      } 
      h4{
       text-align: center;  
      }
      p{
          text-align: center;
          font-size: 14px;
      }
  }
  header{
      height: fit-content;
      position: relative;
      top: 18px;
      margin: 0 16px;
  }
  h4{
      font-size: x-large;
  }
  .prezzo{
      color: #F7A440;
      font-weight: bold;
  }

  

  @media screen and (min-width: 1200px) {
    .section-center {
      width: 95vw;
      grid-template-columns: 1fr 1fr;
    }
  }




  /* change-menu */


.delete{
  display: none;
}
.aggiungi{
 text-align: center;
}
.aggiungi p{
  position: relative;
  font-size: 32px;
  font-weight: 700;
  color: black;
}
label{
  margin: 16px 0;
  font-size: large;
  font-weight: 900;
}


form input{
  font-size: 14px;
  height: 48px;
  width: 50%;
  border:1px solid;
  border-radius: 9px;
  border-color: #F7A440;
  transition: 300ms;
}
form input:focus{
  outline: none;
  border:1px solid;
  border-radius: 9px;
  border-width: medium;
  transition: 300ms;
  border-color: #F98404;
}
